@import url('https://fonts.cdnfonts.com/css/courier-prime-sans');

body {
    text-align: center;
    --s: 90px;
    /* control the size*/

    --_g: radial-gradient(#0000 70%, #1a2030 71%);
    background:
        var(--_g), var(--_g) calc(var(--s)/2) calc(var(--s)/2),
        conic-gradient(#0f9177 25%, #fdebad 0 50%, #d34434 0 75%, #b5d999 0);
    background-size: var(--s) var(--s);

}


.main {
    width: 1000px;
    background-color: white;
    margin: auto;
    padding: 5vmin;
}

.headrow {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
}

.headpart {
    display: flex;
    width: 33%;
    align-items: center;
}

.counter {
    width: 100%;
    text-align: right;
    color: #1a2030;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
}

.field {
    display: inline-block;
}

label {
    display: block;
}

.list {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    table-layout: fixed;
}


.list td,
.list th {
    border: 1px solid #ddd;
    padding: 8px;
}

.list tr:nth-child(odd) {
    background-color: #f2f2f2;
}


.list th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #1a2030;
    color: white;
}

.list td.button-td {
    padding: 0px;
    text-align: center;
    width: 100px;
    height: 40px;
    background: transparent;
}

.list th.button-td {
    padding: 0px;
    text-align: center;
    width: 100px;
}

.new-button {
    border-radius: 24px;
    background-color: #78ba45;
    /* Green */
    border: none;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Courier Prime Sans', sans-serif;
    width: 18px;
    height: 18px;

    &:hover {
        background-color: #609537;
    }
}

.export-button {

    background-color: #217346;
    border: 1px solid white;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: 'Courier Prime Sans', sans-serif;
    width: 18px;
    height: 18px;

    &:hover {
        background-color: #174f30;
    }
}

.update-button {
    border-radius: 24px;
    background-color: #0f9177;
    border: none;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Courier Prime Sans', sans-serif;
    font-size: 16px;
    width: 18px;
    height: 18px;

    &:hover {
        background-color: #0c735f;
    }
}

.delete-button {
    border-radius: 24px;
    background-color: #d34434;
    border: none;
    color: white;
    padding: 7px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Courier Prime Sans', sans-serif;
    font-size: 16px;
    width: 18px;
    height: 18px;

    &:hover {
        background-color: #bc3829;
    }
}


.submit-button {
    background-color: #3366ff;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    padding: 14px;
    width: 100px;

    &:hover {
        background-color: #0040ff;
    }
}


html body div.main table.list tbody tr td.input-td input {
    background: transparent;
    height: 100%;
    width: 90%;
    display: inline-block;
    padding: 5%;

    border: none;

    &:focus {
        outline: none;
        color: black;
    }

}

.list td.input-td {
    margin: 0;
    padding: 0;
}