<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyBookshelf</title>

    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="main">
        <h1>EasyBookshelf</h1>


        <form action="/startsearch" method="post">
            <table class="list">
                <tr>
                    <td class="input-td">
                        <input type="text" name="author" placeholder="{{lang['AUTHOR_placeholder']}}" autofocus>
                    </td>
                    <td class="input-td">
                        <input type="text" name="title" placeholder="{{lang['TITLE_placeholder']}}">
                    </td>
                    <td class="button-td">
                        <button type="submit" class="add-button">{{lang["SEARCH"]}}</button>
                    </td>
                </tr>
            </table>
        </form>
        <hr>
        <table class="list">
            <tr>
                <th>{{lang["AUTHOR"]}}</th>
                <th>{{lang["TITLE"]}}</th>
                <td class="button-td"><a class="new-button" href="/new">+</a></td>
            </tr>

            {% for book in book_list %}
            <tr>
                <td>{{ book.author }}</td>
                <td>{{ book.title }}</td>
                <td class="button-td">
                    <a class="update-button" href="/change/{{ book.id }}">{{lang["UPDATE"]}}</a>
                    <a class="delete-button" href="/delete/{{ book.id }}">{{lang["DELETE"]}}</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>