<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BorrowedBooksHub</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="headrow">
            <div class="headpart">
                <a class="home-button" , href="/"><i class="fa fa-home"></i></a>
            </div>
            <div class="headpart">
                <h1>BorrowedBooksHub</h1>
            </div>
            <div class="headpart">
                <div class="counter">{{ book_list|length }} {{lang["BOOK"]}}</div>
            </div>
        </div>


        <form action="/startsearch" method="post">
            <table class="list">
                <tr>
                    <td class="input-td">
                        <input type="text" name="author" placeholder="{{lang['AUTHOR_placeholder']}}" autofocus>
                    </td>
                    <td class="input-td">
                        <input type="text" name="title" placeholder="{{lang['TITLE_placeholder']}}">
                    </td>
                    <td class="input-td">
                        <input type="text" name="renter" placeholder="{{lang['RENTER_placeholder']}}">
                    </td>
                    <td class="button-td">
                        <button type="submit" class="submit-button"><i class="fa fa-search"></i></button>
                    </td>
                </tr>
            </table>
        </form>
        <hr>
        <table class="list">
            <tr>
                <th>{{lang["AUTHOR"]}}</th>
                <th>{{lang["TITLE"]}}</th>
                <th>{{lang["RENTER"]}}</th>
                <th class="button-td">
                    <a class="new-button" href="/new"><i class="fa fa-plus"></i></a>
                    <a class="export-button" href="/export"><i class="fa fa-file-excel-o"></i></a>
                </th>
            </tr>

            {% for book in book_list %}
            <tr>
                <td>{{ book.author }}</td>
                <td>{{ book.title }}</td>
                {% if book.renter %}
                <td>{{book.renter}}</td>
                {% else %}
                <td>-</td>
                {% endif %}
                <td class="button-td">
                    <a class="update-button" href="/change/{{ book.id }}"><i class="fa fa-pencil"></i></a>
                    <a class="delete-button" href="/remove/{{ book.id }}"><i class="fa fa-remove"></i></a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>