<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EasyBookshelf</title>

    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
</head>

<body>
    <div class="main">
        <h1>EasyBookshelf</h1>

        <form action="/update/{{book.id}}" method="post">
            <table class="list">
                <tr>
                    <td class="input-td">
                        <input type="text" name="author" value="{{book.author}}" autofocus>
                    </td>
                    <td class="input-td">
                        <input type="text" name="title" value="{{book.title}}">
                    </td>
                    <td class="button-td">
                        <button type="submit" class="submit-button">OK</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</body>

</html>